body {
        overflow-y: hidden;
}
#editor_column {
        position: absolute;
        height:100vh;
}

#editor {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom: 0px;
}

.bottom-settings {
        position:fixed;
        bottom:0px;
        right:0px;
        background-color: orange;
        color: black;
}
    
.brand-name {
        font-family: 'Russo One';
        font-size: 0.9em;
}

.brand-phrase { 
        font-family: 'Open Sans';
        font-size: 0.8em;
}

#settingsBtn {
        position: relative;
        bottom: 0px;
}

.bg-white {
        background-color: FFF;
        color: 000;
}

#errtoast{
        position: absolute;
        bottom: 1vw;
        right: 1vw;
        min-width: 20vw;
}

.colortest {
        background-color: 000;
}

.hello {
        display:inline;
}

@media only screen and (max-width: 576px) {
         .w-xs-50 {
                 width:50%;
         }  
         
         .form-group-xs {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 0;
        }
}