body {
        overflow-y: hidden;
}
#editor_column {
        position: absolute;
        height:100vh;
}

#editor {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0px;
}
    
.brand-name {
        font-family: 'Russo One';
        font-size: 0.9em;
}

.brand-phrase { 
        font-family: 'Open Sans';
        font-size: 0.8em;
}

#settingsBtn {
        position: relative;
        bottom: 0px;
}

.bg-white {
        background-color: FFF;
        color: 000;
}

#errtoast{
        position: absolute;
        bottom: 1vw;
        right: 1vw;
        min-width: 20vw;
}

.colortest {
        background-color: 000;
}
